<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
  {% endblock %}

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet"
        href="{% static 'manager/css/lib/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static "manager/css/manager.css" %}"/>
  {% block stylesheets %}
  {% endblock %}
</head>
<body>
{% include 'manager/components/navbar.html' %}

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>