<div class="table-responsive">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Container Id</th>
      <th>Image</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}
      <tr>

        <!-- Status column -->
        <td class="text-center">
          {% if container.State == 'exited' %}
            <a
                class="btn-container-start"
                container-id="{{ container.Id }}"
                href="{% url 'container_start' %}">
              <span class="fa fa-circle color-gray"></span>
            </a>

          {% elif container.State == 'running' %}
            <a
                class="btn-container-stop"
                container-id="{{ container.Id }}"
                href="{% url 'container_stop' %}"
            >
              <span class="fa fa-circle color-green"></span>
            </a>

          {% else %}
            <span class="fa fa-circle color-red"></span>
          {% endif %}
        </td>

        <td>{{ container.Names.0 }}</td>
        <td>{{ container.Id|slice:":16" }}</td>
        <td>{{ container.Image }}</td>
        <td class="text-center">
          <a class="btn btn-sm btn-default"
             href="{% url 'container_details' %}?container_id={{ container.Id }}"
          >
            <span class="fa fa-eye"></span>
            <span>&nbsp;&nbsp;Details</span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>