<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PyDocker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- Containers nav link -->
        {% if nav_active == 'containers' %}
          <li class="active">
            <a href="#">Containers</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'containers' %}">Contenedores</a>
          </li>
        {% endif %}

        <!-- Stats nav link -->
        {% if nav_active == 'stats' %}
          <li class="active">
            <a href="#">Stats</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'containers_stats' %}">Stats</a>
          </li>
        {% endif %}

        <!-- Images nav link -->
        {% if nav_active == 'images' %}
          <li class="active">
            <a href="#">Images</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'images_index' %}">Images</a>
          </li>
        {% endif %}


        <li><a href="#">Fabric</a></li>
      </ul>
    </div>
  </div>
</nav>