{% extends 'manager/base.html' %}
{% load static %}

{% block head %}
  <title>Containers</title>
{% endblock %}

{% block content %}
  <div class="row">

    <!-- Section title -->
    <div class="col-xs-8">
      <h3>Containers</h3>
    </div>

    <!-- Real time panel -->
    <div class="col-xs-4">
      <div class="padding-top-24 realtime-panel">
        <span>Realtime updates</span>
        <div class="material-switch pull-right">
          <input type="checkbox" id="switch-realtime"/>
          <label for="switch-realtime" class="label-success"></label>
        </div>

        <br>
        <div class="progress margin-top-8">
          <div
            id="progress-refresh"
            class="progress-bar"
            role="progressbar"
            style="width: 0%;">
          </div>
        </div>
      </div>
    </div>

    <div id="grid-containers" class="col-xs-12">

      <!-- Temp loading section -->
      <div class="text-center"><br><br>
        <span class="fa fa-4x fa-spin fa-cog"></span><br>
        <h6>Loading containers</h6>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'manager/js/containers.js' %}"></script>
{% endblock %}