{% extends 'manager/base.html' %}
{% load static %}

{% block head %}
  <title>Containers stats</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4>Memory usage</h4>

      <div class="chart-loading-container text-center">
        <br><br>
        <span class="fa fa-4x fa-spin fa-cog chart-loading"></span>
      </div>
      <div id="mem-chart-container" class="chart-container hidden">
        <canvas id="chart-mem"></canvas>
      </div>
    </div>

    <!-- CPU Usage chart -->
    <div class="col-xs-12 col-md-6">
      <h4>CPU Usage</h4>

      <div class="chart-loading-container text-center">
        <br><br>
        <span class="fa fa-4x fa-spin fa-cog chart-loading"></span>
      </div>
      <div id="cpu-chart-container" class="chart-container hidden">
        <canvas id="chart-cpu"></canvas>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"
      integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s="
      crossorigin="anonymous"></script>
  <script src="{% static 'manager/js/stats.js' %}"></script>
{% endblock %}